/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
 @version %I%, %G%
*/
/* 
    Created on : Mar 26, 2017, 9:25:58 PM
    Author     : hychen39@gmail.com
*/

.ticketPanel td {
    vertical-align: top;
}

.ticketDesc {
    height: 300px;
}

.wrapper{
    width:780px;
    height: 300px;
    position:absolute;
    top:60%;
    left:36%;      
  }
  
  .footer{
      background-color:	#FF8000;
      text-align:center;

  }
  

input[type=account],input[type=password]{
    background-color: 	#FF9797;
}
#gotop {
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background:black;
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
}
#goContents {
    position: fixed;
    border-radius: 50px;
    right: 650px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background:gray;
    color: #FAFCFD;
    cursor: pointer;
    z-index:1000;
}