<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="UTF-8" />
        <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <h:outputStylesheet library="css" name="adminBootstrap.css"/>
        <title>Ticket Care</title>  
    </h:head>
    <h:body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li><h:link outcome="adminIndex" >首頁</h:link></li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">贊助管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><h:link outcome="adminDoner">新增類別</h:link></li>
                            </ul>
                        </li>
                        <li><h:link outcome="adminIndividual">個案管理</h:link></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">票務管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><h:link outcome="adminCatergory">新增類別</h:link></li>
                                <li><h:link outcome="adminTicketData">票券資料</h:link></li>
                                <li><h:link outcome="ticketShelves">上架區</h:link></li>
                            </ul>
                        </li>
                        <li><h:link outcome="volunteer">志工管理</h:link></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">媒合<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><h:link outcome="match-manual">媒合</h:link></li>
                                <li><h:link outcome="ticketRecords">派票紀錄</h:link></li>
                                <li><h:link outcome="ticketTarck">票卷追蹤</h:link></li>
                                <li><h:link outcome="closedArea">結案區</h:link></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="content" class="center_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
            <div id="footer" class="footer">
                <ui:insert name="footer">Footer for the administrator. </ui:insert>
            </div>
        </div>        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </h:body>
</html>
