<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <h:outputStylesheet library="css" name="ticketCarousel.css"/>
    </h:head>
    <h:body >
        <ui:composition>
            <div id="gotop">top</div>
            <div class="container">
                <div class="col-md-12">
                    <div class="page-header">
                        <h:graphicImage class="img-responsive" style="display:block; margin:auto; height: 50px;" library="images" name="ticketLogo.png"  />
                    </div>
                    
                    <h:link class="nav navbar-nav navbar-right" outcome="/Tickets">更多票券>></h:link><br/>
                 
                    <div class="carousel slide" id="myCarousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="thumbnails">
                                    <div class="col-sm-3">
                                        <div class="fff" >
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>

                                </ul>
                            </div><!-- /Slide1 --> 
                            <div class="item">
                                <ul class="thumbnails">
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/320x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/320x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/320x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/320x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div><!-- /Slide2 --> 
                            <div class="item">
                                <ul class="thumbnails">
                                    <div class="col-sm-3">	
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/360x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/360x240" alt=""/></a>
                                            </div>
                                            <div class="text-center" style="border-color:#ff8000; border-width:3px;">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/360x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                                <a href="#"><img src="http://placehold.it/360x240" alt=""/></a>
                                            </div>
                                            <div class="text-center">
                                                <h4>Descriptions for the movies</h4>
                                                <p>(到期日、剩餘票券數量)</p>
                                                 <h:link class="btn btn-warning" outcome="/TicketsDetails">» Read More</h:link>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div><!-- /Slide3 --> 
                        </div>


                        <nav>
                            <ul class="control-box pager">
                                <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                                <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                        <!-- /.control-box -->   

                    </div><!-- /#myCarousel -->

                </div><!-- /.col-xs-12 -->          

            </div><!-- /.container -->
            <div class="col-md-12">
                <div id="doner" class="page-header">
                    <h:graphicImage class="img-responsive" style="display:block; margin:auto; height: 50px;" library="images" name="doner.png"  />
                </div>
                
                <h:link class="nav navbar-nav navbar-right" outcome="/suppliers">更多廠商>></h:link><br/>
            
                <div class="carousel slide" id="myCarousel2">
                     <div class="carousel-inner">
                         <div class="item active">
                             <ul class="thumbnails">
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img class="img-responsive" src="resources/images/1-1.jpg" width="90%" 
                                                              onMouseOver="this.width=this.width * 1.1;"
                                                              onMouseOut="this.width=this.width /1.1;" alt="" /></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="resources/images/1-1.jpg" width="90%" 
                                                              onMouseOver="this.width=this.width*1.1"
                                                              onMouseOut="this.width=this.width/1.1;" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="resources/images/2-1.jpg" width="90%" 
                                                              onMouseOver="this.width=this.width*1.1"
                                                              onMouseOut="this.width=this.width/1.1;" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="resources/images/2-1.jpg" width="90%" 
                                                              onMouseOver="this.width=this.width*1.1"
                                                              onMouseOut="this.width=this.width/1.1;" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                             </ul>
                         </div><!-- /Slide1 -->
                         <div class="item">
                             <ul class="thumbnails">
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                             </ul>
                         </div><!-- /Slide2 -->
                         <div class="item">
                             <ul class="thumbnails">
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="fff" >
                                         <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                                             <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                                         </div>
                                         <div class="text-center">
                                             <p>Supplier name</p>
                                             <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                                         </div>
                                     </div>
                                 </div>
                             </ul>
                         </div><!-- /Slide3 -->
                     </div>
                    
                     <nav>
                         <ul class="control-box pager">
                             <li><a data-slide="prev" href="#myCarousel2" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                             <li><a data-slide="next" href="#myCarousel2" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                         </ul>
                     </nav><!-- /.control-box --> 
                        
                </div><!-- /#myCarousel2 --> 
                
            </div><!-- /.col-xs-12 --> 

         
            
            
            

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <!--<script src="js/lightslider.js"></script>-->
            <h:outputScript library="js" name="image_slides.js" />
            <h:outputScript library="js" name="gotop.js" />
            <h:outputScript library="js" name="goContents.js" />

        </ui:composition>
    </h:body>
</html>