<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>票券類別</legend>
                        <h:dataTable styleClass="table table-striped table-hover" value="" var="doner">
                            <p:column >
                                <f:facet name="header"> 類別名稱</f:facet>          
                                <h:outputText value=""/>
                            </p:column>
                            <p:column >
                                <p:commandButton   action="/" title="修改" icon="fa fa-pencil" />
                                <p:commandButton   action="/" title="刪除" icon="fa fa-trash" />
                            </p:column>
                        </h:dataTable><br/><br/>
                        <div style="float:right;" >
                            <p:row>
                                <h:commandButton styleClass="btn btn-success" value="新增票券類別" action="/"/>
                                <h:commandButton styleClass="btn btn-primary" value="返回主畫面" action="adminIndex"/>
                            </p:row>
                        </div>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>

