<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>結案區</legend>
                        <table class="table table-bordered">
                          <thead class="thead-inverse">
                            <tr class="bg-warning">
                              <th>票券類別</th>
                              <th>票券名稱</th>
                              <th>票券到期日</th>
                              <th>個案姓名</th>
                              <th>取票日期</th>
                              <th>檢視</th>
                            </tr>
                          </thead>
                          <tbody>
                             <tr>
                               <td>電影欣賞</td>
                               <td>萬代福電影城</td>
                               <td>2017/12/31</td>
                               <td>賴貫右</td>
                               <td>2017/03/16</td>
                               <td><h:link outcome="useSituation-view"><span class="fa fa-book" aria-hidden="true"></span></h:link></td>
                             </tr> 
                             <tr>
                               <td>運動賽事</td>
                               <td>中華職棒 中信兄弟 VS Lamigo桃園</td>
                               <td>2017/05/06</td>
                               <td>吳伯彥</td>
                               <td>2017/04/26</td>
                               <td><h:link outcome="useSituation-view"><span class="fa fa-book" aria-hidden="true"></span></h:link></td>
                             </tr>
                          </tbody>
                        </table>                  
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>