<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form class="form-horizontal">
                        <fieldset>
                            <legend>新增捐贈者</legend>
                            <div class="text-right">
                                <div class="jumbotron" style="width: 270px; height: 200px; display: inline-block;border: solid 1px;">
                                    <label>上傳圖片</label>
                                    <br/><br/>
                                    <input type="file" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">建檔日期</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者類別</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:selectOneMenu class="form-control" value="/">  
                                        <f:selectItem itemLabel="1" />
                                        <f:selectItem  itemLabel="2" />
                                        <f:selectItem itemLabel="3" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者名稱</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="字數50字內" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">聯絡人</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="字數50字內" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">電話</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="例:04-12345678或09-12345678" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">地址</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="字數50字內(可略)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">簡介</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputTextarea class="form-control"  ps:placeholder="字數200字內(可略)" />

                                </div>
                            </div>
                            <div  style="float:right;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-primary" value="送出" action="donerData-view"/>
                                    <h:commandButton styleClass="btn btn-default" value="取消" action="adminSuppliers"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>
