<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form class="form-horizontal">
                        <fieldset>
                            <legend>新增個案</legend>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">建檔編號</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">姓名</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="字數10字以內"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">性別</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:selectOneMenu class="form-control" value="/">  
                                        <f:selectItem itemLabel="男" />
                                        <f:selectItem  itemLabel="女" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">身份證字號</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">出生年月日</p:outputLabel>
                                <div class="col-lg-4">
                                   <h:selectOneMenu class="form-control" value="/">  
                                        <f:selectItem itemLabel="1995" />
                                        <f:selectItem  itemLabel="1996" />
                                    </h:selectOneMenu>
                                </div>
                                <div class="col-lg-3">
                                   <h:selectOneMenu class="form-control" value="/">  
                                        <f:selectItem itemLabel="1" />
                                        <f:selectItem  itemLabel="2" />
                                    </h:selectOneMenu>
                                </div>
                                <div class="col-lg-3">
                                    <h:selectOneMenu class="form-control" value="/">  
                                        <f:selectItem itemLabel="1" />
                                        <f:selectItem  itemLabel="2" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">聯絡電話</p:outputLabel>
                                <div class="col-lg-1">
                                    <p:inputText class="form-control" /> 
                                </div>
                                <div class="col-lg-9">
                                    <p:inputText class="form-control" ps:placeholder="例:04-12345678或09-12345678" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">興趣類別</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:selectOneMenu class="form-control" value="/">  
                                        <f:selectItem itemLabel="運動" />
                                        <f:selectItem  itemLabel="音樂" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">地址</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="字數50字內(可略)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">備註</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputTextarea class="form-control"  ps:placeholder="字數200字內(可略)" />

                                </div>
                            </div>
                            <div  style="float:right;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-default" value="取消" action="adminIndividual"/>
                                    <h:commandButton styleClass="btn btn-primary" value="送出" action="individualData-view"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>
