<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/Template_withoutPicture.xhtml" >
            <ui:define name="content">
                <ui:insert name="logo">
                    <h:graphicImage class="img-responsive" style="display: block; margin: auto; width: 50% ;" library="images" name="logo.png"/> 
                </ui:insert>
                <div style="display: block; margin: auto; width: 80% ;">
                    <h:form class="form-signin">
                        <div class="form-group">
                            <label for="account">帳號</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="account" class="form-control" id="account" placeholder="輸入帳號"/>
                                </div>
                            </div>
                        </div>  

                        <div class="form-group">
                            <label for="password">密碼</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="password" class="form-control" id="password" placeholder="輸入密碼"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <a href="#">忘記密碼?</a>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"/>  記住密碼
                            </label>
                        </div>
                        <h:commandButton styleClass="btn btn-success" 
                                         value="登入" 
                                         action="adminIndex" />
                    </h:form>
                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
