<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                   <table class="table table-bordered">
                      <thead class="thead-inverse">
                        <tr class="bg-warning">
                          <th>票券類別</th>
                          <th>票券名稱</th>
                          <th>票券到期日</th>
                          <th>剩餘張數</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>運動賽事</td>
                          <td><label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/></label>
                              中華職棒 中信兄弟 VS Lamigo桃園 
                          </td>
                          <td>2017/05/06</td>
                          <td>4張</td>
                        </tr>
                        <tr>
                          <td>音樂饗宴</td>
                          <td><label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/></label>
                              朗鋼琴獨奏會
                              <hr/>
                              <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/></label>
                              卡列拉斯告別演唱會  
                          </td>
                          <td>2017/04/20
                              <hr/>
                              2017/01/07
                          </td>
                          <td>2張
                              <hr/>
                              2張
                          </td>
                        </tr>
                        <tr>
                          <td>電影欣賞</td>
                          <td><label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/></label>
                              萬代福影城電影票 
                          </td>
                          <td>2017/01/01~2017/12/31</td>
                          <td>50張</td>
                        </tr>
                      </tbody>  
                    </table>
                    <div  style="float:right;" class="form-group">
                        <div class="col-lg-12 col-lg-offset-2">
                            <h:link outcome="match-manual" class="btn btn-success" role="button">取消</h:link> 
                            <h:link outcome="match-ticketList" class="btn btn-primary" role="button">確認</h:link> 
                        </div>
                    </div> 
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>