<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>媒合票券</legend>
                        <table class="table table-bordered">
                          <thead class="thead-inverse">
                            <tr class="bg-warning">
                              <th>票券名稱:中華職棒 中信兄弟 VS Lamigo桃園</th>
                              <th>票券到期日:2017/05/06</th>
                              <th>剩餘張數:4張</th>
                            </tr>
                          </thead>
                        </table>
                    </h:form>
                    <br/>
                    
                    <h:form>
                        <legend>媒合個案</legend>
                        <table class="table table-bordered">
                          <thead class="thead-inverse">
                            <tr class="bg-warning">
                              <th>個案姓名</th>
                              <th>聯絡電話</th>
                              <th>索取張數</th>
                              <th>確認保留</th> 
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>吳伯彥</td>
                              <td>0955982367</td>
                              <td></td>
                              <td><a href="#"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></td>
                            </tr>
                            <tr>
                              <td>王聖安</td>
                              <td>0988213465</td>
                              <td></td>
                              <td><a href="#"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></td>
                            </tr>
                            <tr>
                              <td>沈冠庭</td>
                              <td>09523684267</td>
                              <td></td>
                              <td><a href="#"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></td>
                            </tr>
                          </tbody>  
                        </table>
                    </h:form>
                    <div  style="float:right;" class="form-group">
                        <div class="col-lg-12 col-lg-offset-2">
                            <h:link outcome="match-manual" class="btn btn-primary" role="button">確認</h:link>
                        </div>
                    </div>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>
