<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <h:head>
        <title>Ticket Care</title>   
   </h:head>
   <h:body>
       <ui:debug/>
       <ui:composition template="/template/Template_withoutPicture.xhtml" >
           <ui:define name="content">
               <div class="container-fluid">
                   <div id="banner" >
                       <ui:insert name="banner">
                           <h:graphicImage class="img-responsive" style="margin: auto;background-size:cover;" library="images" name="ticketDatilsBanner.png"  />
                       </ui:insert>
                   </div>
               </div>
               <br/>
               
               <!--<div class="text-center" style="font-size:40px;font-family: Microsoft JhengHei;">
                   <h:outputText  value="贊助商簡介" />
               </div>-->
               <br/>
               
               <div class="clearfix">
                    <img src="http://placehold.it/500x300" alt="" class="pull-left"/>
                    <div class="text-center" style="font-size:24px;font-family: Microsoft JhengHei;">
                       (Ticket Name) <br/>
                       Playing for Formosa奏出福爾摩沙音樂協會 
                    </div>
                    <br/>
                    <br/>
                    
                    <div class="text-center" style="font-size:20px; font-family: Microsoft JhengHei;">
                        (票券簡介)<br/>
                        科技的進步使得我們的世界溝通的速度越來越快，<br/>
                        現代社會的種種壓力讓我們漸漸地對情感與美的<br/>
                        體驗麻痺，福爾摩沙是我們的家，在我們心中也代表著美感。<br/>
                        我們希望能藉由我們音樂的誠懇，把美感帶入社會，音樂帶入人群。
                        
                    </div>
               </div>
               <br/>
               <div class="row">
                   <div class="col-xs-6">
                       <div class="text-center" style="font-size:30px; font-family: Microsoft JhengHei;">贊助商資訊&nbsp;&nbsp;&nbsp;&nbsp;
                           <a class="btn btn-primary social-login-btn social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                       </div>
                       <br/>
                       <div style="font-size:18px; font-family: Microsoft JhengHei;"> 
                       <p>官方網站：http://www.playingforformosa.com/</p>
                       <p>成立時間：2015年2月7日</p>
                       <p>電話：0975-539-593</p>
                       <p>E-Mail：playingforformosa@gmail.com</p>
                       </div>
                   </div>
               </div>
               
               
 
               
           </ui:define>
       </ui:composition>
   </h:body>
</html>

