<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/Template_withoutPicture.xhtml" >
            <ui:define name="content">
               <div class="container-fluid">
                   <div id="banner" >
                       <ui:insert name="banner">
                           <h:graphicImage class="img-responsive" style="margin: auto;background-size:cover;" library="images" name="sponsor.png"  />
                       </ui:insert>
                   </div>
               </div>
               <br/>
               
                <div class="text-center" style="font-size:40px; font-family: Microsoft JhengHei;">
                    <h:outputText value="全部供應商"/>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                        <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                        <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                        <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                       <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                       <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                       <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                        <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                        <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="border-color:#ff8000; border-width:3px;">
                            <a href="#"><img src="http://placehold.it/300x240" alt=""/></a>
                        </div>
                        <div class="text-center" style="font-family: Microsoft JhengHei;">
                            <h3>Supplier Name</h3>
                        <h:link class="btn btn-warning" outcome="/SupplierDetails">» Read More</h:link>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="text-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>