<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/ticketcareTemplate.xhtml">
            <ui:define name="content">
                
                <div class="text-center" style="font-size:20px;  font-family: Microsoft JhengHei;">
                    <br/><br/><br/><br/>
                    歡迎來到TicketCare媒合平台，這裡有著參與藝文活動的機會，<br/>
                    在這裡提供弱勢家庭或平常較少機會接觸到文化的民眾，<br/>
                    一起走出門看一場電影、聽一場音樂會，<br/>
                    讓大家可以擁有平等的文化參與機會。<br/>

                    從一個跨系學程的開始，匯集傳播、資管、社工的學生，<br/>
                    我們的緣分，就從這裡開始，把多餘給不足是我們精神，<br/>
                    這個共同理念組織起了文化銀行，創造出TicketCare媒合平台。<br/>

                    透過廠商捐贈、民眾捐贈的各式文化相關的票券，<br/>
                    藉由TicketCare媒合平台，<br/>
                    提供文化參與的機會給予需要的人們，<br/>
                    使其成為連結人與文化的橋樑，讓文化融入你我的生活!<br/>

                </div>



            </ui:define>
        </ui:composition>
    </h:body>
</html>