<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/ticketcareTemplate.xhtml">
            <ui:define name="content">
                
                <div class="text-center" style="font-size:20px; font-family: Microsoft JhengHei;">
                    <br/><br/><br/><br/>
                    內容尚未決定
                </div>



            </ui:define>
        </ui:composition>
    </h:body>
</html>