<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>派票紀錄</legend>
                        <ul class="nav navbar-nav navbar-right">
                            <input type="text" class="from-control" placeholder="輸入票券名稱"/>
                            <a href="#"><span class="fa fa-search"></span></a>     
                        </ul><br/><br/>
                        
                        <table class="table table-bordered">
                          <thead class="thead-inverse">
                            <tr class="bg-warning">
                              <th>票券類別</th>
                              <th>票券名稱</th>
                              <th>票券到期日</th>
                              <th>個案姓名</th>
                              <th>聯絡電話</th>
                              <th>索取張數</th>
                              <th>預計取票日</th>
                              <th>取票方式</th>
                              <th>取票日期</th>
                              <th>確認取票</th>
                            </tr>
                          </thead>
                          <tbody>
                             <tr>
                               <td>運動賽事</td>
                               <td>中華職棒 中信兄弟 VS Lamigo桃園</td>
                               <td>2017/05/06</td>
                               <td>吳伯彥</td>
                               <td>0955982367</td>
                               <td>3張</td>
                               <td>2017/04/28</td>
                               <td>志工-偲佳</td>
                               <td></td>
                               <td><a href="#"><span class="fa fa-check-square-o" aria-hidden="true"></span></a></td>
                             </tr>
                             <tr>
                               <td>音樂饗宴</td>
                               <td>朗鋼琴獨奏會</td>
                               <td>2017/04/20</td>
                               <td>周家非</td>
                               <td>0912588799</td>
                               <td>2張</td>
                               <td>2017/04/19</td>
                               <td>自取</td>
                               <td></td>
                               <td><a href="#"><span class="fa fa-check-square-o" aria-hidden="true"></span></a></td>
                             </tr>
                             <tr>
                               <td>音樂饗宴</td>
                               <td>卡列拉斯告別演唱會</td>
                               <td>2017/01/07</td>
                               <td>江傑林</td>
                               <td>0955741369</td>
                               <td>2張</td>
                               <td>2017/01/06</td>
                               <td>自取</td>
                               <td></td>
                               <td><a href="#"><span class="fa fa-check-square-o" aria-hidden="true"></span></a></td>
                             </tr>
                          </tbody>
                        </table>
                        <div style="float:right;" >
                            <p:row>
                                <h:commandButton styleClass="btn btn-primary" value="返回" action="/" />
                            </p:row>
                        </div>                        
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>