<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form class="form-horizontal">
                        <fieldset>
                            <legend>新增票券確認</legend>
                            <div class="text-right">
                                <img src="http://placehold.it/200x200" alt="" class="img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">建檔日期</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:outputLabel id="create_date" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">票券名稱</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText id="ticketname" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">票券類別</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText id="type" value=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">使用期限</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText id="startDate" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">受贈張數</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText id="qty" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">演出地點</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">簡介</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:outputText value="" />

                                </div>
                            </div>
                            <div  style="float:right;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-primary" value="確認建檔" action="adminTicketData"/>
                                    <h:commandButton styleClass="btn btn-default" value="返回修改" action="ticketData-add"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>
