<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/Template_withoutPicture.xhtml" >
            <ui:define name="content">
                <div class="container-fluid">
                    <div id="banner" >
                        <ui:insert name="banner">
                            <h:graphicImage class="img-responsive" style="margin: auto;background-size:cover;" library="images" name="ticketDatilsBanner.png"  />
                        </ui:insert>
                    </div>
                </div>
                <br/>
                
                <div class="text-center">
                    <img src="http://placehold.it/520x250" alt=""/>
                </div>
                <br/>
                
                <div style="font-size:20px;font-family: Microsoft JhengHei;">
                <table class="table" >
                        <thead>
                            <tr class="bg-warning">
                                <th class="text-center">票券資訊</th>
                                <th class="text-center">場地資訊</th>
                            </tr>
                          </thead>
                        <tbody>
                          <tr>
                            <td class="col-md-6"><i class="fa fa-calendar" aria-hidden="true">&nbsp;使用期限：</i></td>
                            <td class="col-md-6">演出地點</td>
                          </tr>
                          <tr>
                            <td class="col-md-6">受贈張數/剩餘張數：</td>
                            <td class="col-md-6">電話：</td>
                            
                          </tr>
                          <tr>
                            <td colspan="2">簡介：</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                    
            </ui:define>
        </ui:composition>
    </h:body>
</html>