<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>使用票券情況</legend>
                        <div class="row">
                            <div class="col-lg-6">
                              <div class="input-group">
                                  <p:outputLabel class="control-label">個案姓名:</p:outputLabel>
                                  <div class="col-6">
                                      <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                  </div>
                                  <p:outputLabel class="control-label">票卷名稱:</p:outputLabel>
                                  <div class="col-6">
                                    <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                  </div>
                                  <p:outputLabel class="control-label">取票日期:</p:outputLabel>
                                  <div class="col-6">
                                    <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                  </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="input-group">
                                <p:outputLabel class="control-label">聯絡電話:</p:outputLabel>
                                <div class="col-6">
                                    <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                </div>
                                <p:outputLabel class="control-label">索取張數:</p:outputLabel>
                                <div class="col-6">
                                    <p:inputText class="form-control" ps:placeholder="系統自動載入"/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br/>
                          
                        <h4>是否如期使用票券(若無使用，請直接於備註寫下未使用原因):
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>是</label>&nbsp;
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>否</label>
                        </h4>
                        <h4>票券使用調查</h4>
                        <h4>1.以前是否有參加過類似活動經驗?</h4>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>是&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>否</label>
                        <h4>2.票券是與誰一起使用的?</h4>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>自己&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>家人&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>朋友&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>志工</label>
                        <h4>3.票券使用後是否有提高社會參與的感覺?</h4>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>是&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>否</label>
                        <h4>4.對於票券使用後的滿意度?</h4>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>很滿意&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>滿意&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>普通&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>不滿意&nbsp;&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>很不滿意</label>
                        <h4>5.若下次還有機會是否願意再繼續取票?</h4>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>是&nbsp;</label>
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="checkbox" value="option1"/>否</label>
                        <h4>備註:</h4>
                        <div class="input-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        
                        <div  style="float:right;" class="form-group">
                            <div class="col-lg-12 col-lg-offset-2">
                                <p:row>
                                    <h:commandButton styleClass="btn btn-success" value="確認" action="ticketTarck"/>
                                </p:row>
                            </div>
                        </div> 
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>