<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >


    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>志工管理</legend>
                        <ul class="nav navbar-nav navbar-right">
                            <input type="text" class="from-control" placeholder="輸入票券類別、名稱"/>
                            <a href="#"><span class="fa fa-search"></span></a>     
                        </ul><br/><br/>
                        
                        <table class="table table-bordered">
                          <thead class="thead-inverse">
                            <tr class="bg-warning">
                              <th>姓名</th>
                              <th>電話</th>
                              <th>密碼</th>
                              <th>重置密碼</th>
                              <th>刪除</th>
                            </tr>
                          </thead>
                          <tbody>
                             <tr>
                               <td>向玉盛</td>
                               <td>0988468975</td>
                               <td>aa8426</td>
                               <td><a href="#"><span class="fa fa-undo" aria-hidden="true"></span></a></td>
                               <td><a href="#"><span class="fa fa-trash" aria-hidden="true"></span></a></td>
                             </tr>
                             <tr>
                               <td>廖健洲</td>
                               <td>09213639417</td>
                               <td>sdf852</td>
                               <td><a href="#"><span class="fa fa-undo" aria-hidden="true"></span></a></td>
                               <td><a href="#"><span class="fa fa-trash" aria-hidden="true"></span></a></td>
                             </tr>
                             <tr>
                               <td>呂俊弦</td>
                               <td>0986972381</td>
                               <td>cc6699</td>
                               <td><a href="#"><span class="fa fa-undo" aria-hidden="true"></span></a></td>
                               <td><a href="#"><span class="fa fa-trash" aria-hidden="true"></span></a></td>
                             </tr>
                          </tbody>
                        </table>                   
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>